 
 

  {{#each this}}
  <div class="modal">
    <button class="modal-btn__close">X</button>
    <div class="modal-img__container">
      <img class="modal-img"></img>
    </div>
    <div class="modal-info__container">
      <h2 class="modal-title"></h2>
      <table class="modal-table">
         <tr>
    <td class="modal-table__title">Рубины</td><td class="modal-table__info">43</td>
   </tr>
         <tr>
    <td class="modal-table__title">Рубины</td><td class="modal-table__info">43</td>
   </tr>
         <tr>
    <td class="modal-table__title">Рубины</td><td class="modal-table__info">43</td>
   </tr>
         <tr>
    <td class="modal-table__title">Рубины</td><td class="modal-table__info">43</td>
   </tr>
      </table>
      <h3 class="modal-about"></h3>
      <p class="modal-about__info"></p>
      <button class="modal-btn__watched">add to Watched</button>
      <button class="modal-btn__queue">add to queue</button>
    </div>
  </div>,
{{/each}}